body {
  background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App,
.start-game,
.gameover {
  align-text: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game,
.score-card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 1rem;
  padding: 1rem;
}

button {
  font-size: 1.5rem;
  padding: 0.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-transform: capitalize;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  height: 149px;
  width: 96px;
}

.card:hover {
  cursor: pointer;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.instructions {
  box-shadow: none;
}

.gameover {
  flex-direction: column;
  background: rgba(105, 105, 105, 0.7);
}

.gameover > p,
h1 {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.gameover-container {
  flex-direction: column;
  display: flex;
}

.score-card {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.normal {
  background-color: #a8a878;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.grass {
  background-color: #78c850;
}

.electric {
  background-color: #f8d030;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
  color: white;
}

.poison {
  background-color: #a040a0;
  color: white;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
  color: white;
}

.dark {
  background-color: #705848;
}

.dragon {
  background-color: #7038f8;
  color: white;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #f0b6bc;
}
